/* General styles */
body {
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background: url('https://raw.githubusercontent.com/kpostillon/kpostillon.github.io/main/free-peru-wallpaper_020650953_170.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    margin: 40px auto; /* Center content horizontally with margin */
    border-radius: 10px; /* Rounded corners for the content box */
    padding: 20px; /* Padding inside the content box */
    max-width: 800px; /* Set a maximum width for the content box */
    width: 100%; /* Ensure the wrapper takes up full width within the max-width */
}

.header {
    background: url('https://raw.githubusercontent.com/kpostillon/kpostillon.github.io/main/calabi-yau-manifold-1.png') no-repeat center center;
    background-size: cover;
    padding: 40px 20px;
    text-align: center;
    color: white;
    border-radius: 10px; /* Rounded corners for the header */
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.banner img {
    width: 100%;
    height: auto;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    margin: 20px 0; /* Margin for spacing between header and main content */
}

.tabs .tab-link {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.tabs .tab-link:hover {
    background-color: #444; /* Lighter tone */
}

.tabs .tab-link.active {
    background-color: #444;
    color: white;
}

.main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.2); /* Black transparent */
    padding: 2em;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text {
    margin-bottom: 2em;
}

.img-container {
    max-width: 150px; /* Adjusted to desired width */
    max-height: 150px; /* Adjusted to desired height */
    overflow: hidden;
    margin: 20px 0; /* Margin for spacing around the image */
    border-radius: 10px; /* Rounded corners for the image container */
}

.img-container img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #4CAF50;
}

.list, .list1, .list2 {
    list-style: none;
    padding: 0;
}

.list1 {
    padding-left: 20px;
}

.list2 {
    padding-left: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }

    .tabs .tab-link {
        padding: 1em 0.5em;
    }

    .main {
        padding: 1em;
    }

    .img-container img {
        border-radius: 0;
    }
}
