body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://raw.githubusercontent.com/kpostillon/kpostillon.github.io/main/free-peru-wallpaper_020650953_170.jpg') no-repeat center center fixed; /* Set your background image */
    background-size: cover;
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: url('https://raw.githubusercontent.com/kpostillon/kpostillon.github.io/main/calabi-yau-manifold-1.png') no-repeat center center; /* Set your banner image */
    background-size: cover;
    padding: 60px 20px; /* Adjust padding to fit your banner image */
    text-align: center;
    color: white;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.tabs .tab-link {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.tabs .tab-link:hover {
    background-color: #ddd;
    color: black;
}

.tabs .tab-link.active {
    background-color: #4CAF50;
    color: white;
}

.main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.text {
    max-width: 600px;
    background: rgba(255, 255, 255, 0.8); /* Background with transparency */
    padding: 20px;
    border-radius: 10px;
}

.img-container {
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    color: #4CAF50;
}

.list, .list1, .list2 {
    list-style: none;
    padding: 0;
}

.list1 {
    padding-left: 20px;
}

.list2 {
    padding-left: 40px;
}
